# Unity 基本除外
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
UserSettings/

# OS
.DS_Store
Thumbs.db

# IDE 関係
.vscode/
.vs/
.idea/
*.csproj
*.unityproj
*.sln
*.user
*.dwlt
*.opendb
*.VC.db

# Unity/IDEによる自動生成
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

# クラッシュログ
sysinfo.txt

# 配布物（チーム共有不要）
*.unitypackage.meta
*.apk
*.aab
*.unitypackage
