[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# OSごとの一時ファイル
.DS_Store
Thumbs.db

# Unityクラウドビルドやパッケージ関係
*.apk
*.aab
*.unitypackage

# RiderやVSCodeの一時ファイル
.idea/
.vscode/
*.csproj
*.sln
*.user